/* === Grund === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background-color: #fbfcfb;
    margin: 0;
  }
  
  /* === Header och navbar == */
  .site-header {
    /*background-color: #add8d0;*/
    background-color: #fbfcfb;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  /*.header-spacer KAN TAS BORT? {
    height: 60px; 
  }*/
  
  
  .header-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 1rem 2rem;
    position: relative;
  }
  
  .header-logo {
    max-height: 35px;
    height: auto;
    margin-top: 0.5rem;
    align-self: flex-start;
  }
  
  /* === Hamburgermeny === */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
  }
  
  .menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #57847b;
    margin: 4px 0;
    border-radius: 2px;
  }
  
  /* === Navbar === */
  .navbar {
    width: 100%;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0.5rem 0;
    margin: 0;
  }
  
  .navbar a {
    position: relative;
    color: #57847b;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    display: inline-block;
    padding-bottom: 4px;
  }
  
  .navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1.5px;
    background-color: #57847b;
    transition: width 0.4s ease;
  }
  
  .navbar a:hover::after {
    width: 100%;
  }

  /* Intro  */
.hero-section {
    background-image: url(img/flaskor.jpg); 
    background-size: cover;
    background-position: center;
    height: 500px; 
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 5rem;
  }
  
  .hero-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4rem 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Behövs för att inte sticky headern ska hamna ivägen */
  [id] {
    scroll-margin-top: 200px; 
  }
  


  .intro-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white; 
    border-left: 12px; 
    padding-left: 25px;
    padding-top: 15%;
    margin: 25px auto 30px auto;
    max-width: 800px;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .intro-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: white;
    border-left: 12px; 
    padding-left: 25px;
    margin: 25px auto 60px auto;
    max-width: 800px;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  /* === Diagramkort === */
  .chart-text {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 0.04rem;
  }
  
  .chart-card {
    background-color: #ffffff;
    border: 0.5px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto 80px auto;
    max-width: 800px;
  }
  .chart-card #map {
    width: 100%;
    height: 500px; 
    margin: 0;
    padding: 0;
  }
  .chart-card canvas {
    margin: 1rem;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .chart-source {
    font-size: 0.75rem;
    color: #777;
    margin-top: 2rem;
    margin-left: 2rem;
    text-align: left;
  }
  
  /* Info-box */
  .chart-info-box {
    padding-top: 5px;
    margin: 25px auto 20px auto;
    max-width: 800px;
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .chart-info-box h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #777;
    letter-spacing: 0.05rem;
    margin-left: 2.5rem;
  }
  
  .chart-info-box p {
    font-size: 1em;
    line-height: 1.6;
    color: #777;
    letter-spacing: 0.03rem;
    max-width: 60ch;
    padding-bottom: 1rem;
    margin-left: 2.5rem;
  }
  
  /* Footer */
  .site-footer {
    background-color: #57847b;
    color: white;
    padding: 1.5rem 1rem;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .footer-logo {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 14rem;
    margin-bottom: 1rem;
  }
  
  .footer-nav a {
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
  }
  
  .footer-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  .footer-nav a:hover::after {
    width: 100%;
  }
  
  .footer-copy {
    font-size: 0.9rem;
    opacity: 0.8;
  }
  
  /* Sektion */
  .information {
    max-width: 800px;
    margin: 4rem auto;
    padding: 1rem;
  }
  
  .information h2 {
    text-align: center;
    color: #57847b;
    margin-bottom: 2rem;
    letter-spacing: 0.05rem;
  }
  
  /*  Lista med staplade boxar  */
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 700px;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
  }
  
  /* Varje utfällbar ruta  */
  .info-box {
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f7f7f7;
    overflow: hidden;
    width: 100%;
  }
  
  .info-box p {
    font-size: 1em;
    margin-bottom: 10px;
    color: #777;
    letter-spacing: 0.05rem;
  }
  
  .info-box summary {
    padding: 1rem;
    background-color: #57847b;
    color: white;
    outline: none;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .info-box[open] summary {
    background-color: #456b61;
  }
  
  .info-content {
    padding: 1rem 1.2rem;
    font-size: 0.95rem;
    line-height: 1.6;
    background-color: #fff;
  }
  
  #map {
    width: 100vw;
    height: 100vh;
  }

  /* Responsivitet */
  @media (max-width: 1024px) {
    .menu-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        z-index: 1001;
      }
      
      /* Menyboxen */
      .navbar ul {
        display: none;
        flex-direction: column;
        align-items: flex-start; 
        background-color: rgba(87, 132, 123, 0.92); /* 0.92 = 92% opacitet */
        padding: 1rem 1.2rem;
        border-radius: 8px;
        width: max-content;
        min-width: 160px;
        position: absolute;
        top: 3.5rem; /* under hamburgermenyn */
        right: 1.5rem; /* samma som .menu-toggle */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
      
      /* När aktiv: visa meny */
      .navbar ul.active {
        display: flex;
      }
      
      /* Länkar i meny */
      .navbar a {
        color: white;
        font-size: 0.95rem;
        text-align: left;
        padding: 0.2rem 0;
        width: 100%;
      }
      
  
    .header-inner {
      align-items: flex-start;
    }
  
    .header-logo {
      align-self: flex-start;
      margin-top: 1rem;
    }
  
    .intro-section {
      margin-top: 9rem;
      padding: 1rem;
    }
  }
  
  @media (min-width: 1025px) {
    .menu-toggle {
      display: none;
    }
  
    .navbar ul {
      display: flex !important;
      flex-direction: row;
      background-color: transparent;
      gap: 3rem;
      justify-content: center;
      padding: 0;
    }
  
    .navbar a {
      color: #57847b;
      font-size: 0.9rem;
    }
  }
  
  /* Modal, bakgrund  */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
  
  /*  Modal, innehåll  */
  .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    position: relative;
    box-sizing: border-box;
  }
  
  /*  stängknapp  */
  .close {
    color: #aaa;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover {
    color: #333;
  }

  /* responsivitet  */
  @media (max-width: 600px) {
    .modal-content {
      padding: 1rem;
    }
  
    .modal-content #map {
      height: 50vh;
    }
  
    .chart-text {
      font-size: 1.1rem;
    }
  }
 .chart-text {
  text-align: left;
}