body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    margin-top: 5rem;
   
}


.chart-text {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: 0.04rem;
}
.chart-card {
    background-color: #ffffff;
    border: 0.5px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 40px auto;
    margin-bottom: 120px;
    max-width: 800px;
}

.chart-card canvas {
    margin: 3rem;
    display: block;
    width: 100%;
    height: auto;
}

.chart-source {
    font-size: 0.75rem;
    color: #777;
    margin-top: 10px;
    text-align: left;
    margin-left: 2rem;
    margin-top: 2rem;
}


.info-box {
    border-left: 15px solid pink;
    padding-left: 25px;
    padding-top: 5px;
    margin: 25px auto 60px auto;
    margin-bottom: 15px;
    max-width: 800px;       
    text-align: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.info-box h2 {
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #777;
    letter-spacing: 0.04rem;
}

.info-box p {
    font-size: 1em;
    line-height: 1.6;
    color: #777;
    letter-spacing: 0.03rem;
    max-width: 60ch;  
    padding-bottom: 1rem;     
}

